<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <title>Brav Articles</title>
</head>
<body>

    {{> navbar}}
    <div class="about-us">
        <h1>About Brāv: Revolutionizing Conflict Management Online</h1><br><br>

    <h2>Platform for Secure Conflict Management</h2>
    <p>At Brāv, we provide a secure online environment for conflict management. Through face-to-face video chats, messaging, email, and more, users can engage in effective dispute management with trained community members who serve as conflict managers. Furthermore, Brāv seeks to expand its reach by integrating trainers into schools, organizations, workplaces, and other areas of society.</p>

    <br><h2>Addressing Conflict Worldwide</h2>
    <p>Conflict and violence permeate our world, from bullying in schools and workplaces to domestic disputes and global conflicts. Brāv aims to tackle these issues head-on by preparing individuals to acquire healthy coping mechanisms and a comprehensive skill set in conflict management. By fostering an environment that challenges, respects, and holds individuals accountable, Brāv cultivates the art of conflict management as individuals navigate the demands of adulthood. We are the first online dispute management platform with a global focus on conflict management, allowing anyone, anywhere to learn and seek assistance in managing conflicts, be it personal, professional, or otherwise.</p>

    <br><h2>Connected Learning and Global Impact</h2>
    <p>Brāv's vision encompasses diverse areas such as dispute management, mental health, juvenile justice, positive youth and adult development, education, and work readiness. As we expand globally, we strive to include as many languages as possible, promoting essential conflict management skills worldwide. Our virtual training game combines fun, efficiency, and education, ensuring that users are equipped with the necessary tools to navigate conflicts successfully.</p>

    <br><h2>Data Security and Integrity</h2>
    <p>Given the sensitive nature of the information exchanged during online conflict management sessions, Brāv places utmost importance on data access, integrity, and security. We employ top SSL protection to safeguard the confidentiality of user data. Additionally, our systems incorporate firewalls to prevent unauthorized access and encryption protocols to protect personal data shared among users. Regular data backups ensure the safety and availability of critical information.</p>

    <br><h2>The Power of Technology and Human Connection</h2>
    <p>Brāv harnesses the power of technology to revolutionize problem-solving in today's interconnected world. With mobile devices and computers ubiquitous, Brāv serves as a vital resource for individuals in need, connecting them with caring individuals who can offer support. Our core values prioritize nonviolent conflict management while upholding privacy concerns.</p>

    <br><h2>Who Can Benefit from Brāv?</h2>
    <p>Brāv is a resource for a wide range of individuals and organizations. Students, employees in small and large workplaces, civic and religious organizations, sports leagues, families, and even victims of trafficking can benefit from Brāv's services. We believe that the potential for good is limitless, as difficult situations are part of the daily human experience.</p>

    <br><h2>Brāv as a Preventative, Crisis, and Post-Trauma Resource</h2>
    <p>Brāv's impact extends beyond conflict management alone. In the realm of preventing human trafficking, our online presence serves as a vital resource for those targeted and seeking information or advice on questionable online interactions. For victims currently in crisis, Brāv acts as a timely resource to help resolve immediate situations. Furthermore, Brāv recognizes the potential of talk therapy as an alternative for conflict management and post-trauma therapy. By cultivating the largest online network of ordinary people trained in conflict management, Brāv offers psycho-social resolution through talk therapy and debriefing.</p>
    <br><h3>Join Brāv in Revolutionizing Conflict Management</h3>
    </div>
    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../jq/bootstrap.js" type="text/javascript"></script>

</body>
</html>