    <ul>
  <li >
    <a class="active" href="/" >
      <img src="images\brav-lf.jpg" alt="Logo" class="logo-img">
    </a>
  </li>
  <li><a href="/">Home</a></li>
  <li><a href="/contact_us">Contact Us</a></li>
  <li><a href="/about_us">About Us</a></li>
</ul>
